.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


.vscode/

.idea/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.tmp
*.bak
*.swp
*~

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.*
!.env.example